html,
body {
  width: auto;
  font-size: 10px;
  scroll-behavior: smooth;

  a {
    transition: all 0.3s;
    text-decoration: none;
    &:hover {
      color: var(--blue-color);
    }
  }
}

span {
  display: inline-block;
}

img {
  width: 100%;
}
.clear_fixed {
  height: 10rem;
}
//all_style

#wrap {
  width: 90%;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 100;
  width: 90%;
  height: 13rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  right: 0;
  left: 0;
}

h1 {
  width: 20.5rem;
  height: 7rem;
  background: url("../images/logo_name.png") no-repeat center;
  background-size: cover;
}

nav {
  width: 25%;
}
.menu {
  font-size: 6rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  li a {
    color: var(--gray);
    &:hover {
      color: var(--logo-blue);
    }
  }
}
//header_css_end

.total_p {
  font-size: 2rem;
}

.page1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  .home_1 {
    width: 50%;
    img {
      width: 50%;
    }
  }
  .home_2 {
    width: 50%;
    font-size: 4rem;
    text-align: left;
    line-height: 5rem;
    word-break: keep-all;
  }
}
.page2 {
  .page2_case {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(4, minmax(100px, auto));
    align-items: center;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 8px; /* 스크롤바의 너비 */
    }
    &::-webkit-scrollbar-thumb {
      height: 30%; /* 스크롤바의 길이 */
      background: #217af4; /* 스크롤바의 색상 */
      border-radius: 100px;
    }
    &::-webkit-scrollbar-track {
      background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
      border-radius: 100px;
    }
  }
  .item {
    padding: 1rem 0;
    .title {
      font-size: 5rem;
      font-weight: 700;
      background: linear-gradient(
        to top,
        var(--blue-opacity) 40%,
        transparent 40%
      );
    }
    .list {
      font-size: 3rem;
      line-height: 4.5rem;
    }
  }
  .item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }
  .item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  .item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .item:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
  }
  .item_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    .photo {
      width: 35rem;
      height: 35rem;
      border-radius: 50%;
      background: url(../images/face_photo.jpg) no-repeat center;
      background-size: cover;
      margin: 1rem;
    }
    .photo_text {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
  .item_3 {
    .list_skill {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      li {
        padding: 1rem 0;
        width: 12rem;
      }
    }
  }
}
.page3 {
  .work_title {
    font-size: 5rem;
    font-weight: 900;
    background: linear-gradient(
      to top,
      var(--blue-opacity) 40%,
      transparent 40%
    );
  }
  .work_case {
    margin-top: 1rem;
    .nav {
      justify-content: space-evenly;
    }
    .nav-item {
      font-size: 4rem;
    }
    .tab-content {
      margin-top: 3rem;
    }
  }
  .w_items {
    width: 90%;
    height: 80vh;
    overflow-y: scroll;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    align-content: space-around;
    &::-webkit-scrollbar {
      width: 8px; /* 스크롤바의 너비 */
    }
    &::-webkit-scrollbar-thumb {
      height: 30%; /* 스크롤바의 길이 */
      background: #217af4; /* 스크롤바의 색상 */
      border-radius: 100px;
    }
    &::-webkit-scrollbar-track {
      background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
      border-radius: 100px;
    }
    .item_w {
      width: 45rem;
      border: 1px solid #000;
      border-radius: 25px;
      overflow: hidden;
    }
  }
}
.page4 {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  .finish_1 {
    width: 50%;
    font-size: 4rem;
    line-height: 5rem;
    word-break: keep-all;
    text-align: right;
  }
  .finish_2 {
    width: 50%;
    img {
      width: 50%;
    }
  }
}
.phone {
  text-align: right;
  font-size: 3rem;
  font-weight: 900;
}

/* pc (해상도 1501px ~ 1540px)*/
@media all and (max-width: 1540px) {
  header {
    height: 8rem;
  } //header

  .clear_fixed {
    height: 6rem;
  }

  h1 {
    width: 12rem;
    height: 4rem;
  }
  .menu {
    font-size: 4rem;
  } //menu_end

  .page1 {
    .home_2 {
      font-size: 3rem;
      line-height: 4rem;
    }
  } //page1_end

  .page2 {
    .item {
      .title {
        font-size: 3rem;
      }
      .list {
        line-height: 3rem;
        font-size: 2rem;
      }
    }
    .item_1 {
      .photo {
        width: 22rem;
        height: 22rem;
      }
      .photo_text {
        font-size: 2rem;
        line-height: 2rem;
      }
    }
    .item_3 {
      .list_skill {
        li {
          width: 8rem;
        }
      }
    }
  } //page2_end

  .page3 {
    .work_title {
      font-size: 3rem;
    }
    .work_case {
      .nav-item {
        font-size: 2rem;
      }
    }
    .w_items {
      .item_w {
        width: 30rem;
      }
    }
  } //page3_end

  .page4 {
    .finish_1 {
      font-size: 3rem;
      line-height: 4rem;
    }
  } //page4_end

  .phone {
    font-size: 2rem;
  }
}

/* pc (해상도 1025px ~ 1500px)*/
@media all and (max-width: 1179px) {
  .clear_fixed {
    height: 10rem;
  }
  header {
    height: 10rem;
  }
  h1 {
    width: 13rem;
    height: 4rem;
  }
  .menu {
    font-size: 5rem;
  }
  .page1 {
    .home_2 {
      font-size: 3rem;
      line-height: 4rem;
    }
  } //page1
  .page2 {
    .item {
      .title {
        font-size: 3rem;
      }
      .list {
        line-height: 3rem;
        font-size: 2rem;
      }
    }
    .item_1 {
      .photo {
        width: 18rem;
        height: 18rem;
      }
      .photo_text {
        font-size: 2.5rem;
      }
    }
    .item_3 {
      .list_skill {
        li {
          width: 7rem;
        }
      }
    }
  }
  .page3 {
    .work_title {
      font-size: 3rem;
    }
    .work_case {
      margin-top: 3rem;
      .tab-content {
        margin-top: 0;
      }
      .nav-item {
        font-size: 2rem;
      }
    }
    .w_items {
      .item_w {
        width: 30rem;
      }
    }
  } //page3

  .page4 .finish_1 {
    font-size: 3rem;
    line-height: 4rem;
  } //page4_end
  .phone {
    font-size: 2rem;
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 910px ~ 1024px)*/
@media all and (max-width: 1024px) {
  header {
    height: 6rem;
  }
  .clear_fixed {
    height: 6rem;
    margin: 0;
  }
  h1 {
    width: 12rem;
    height: 4rem;
  }
  .menu {
    font-size: 3rem;
  }
  .page1 {
    .home_2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
  .page2 {
    .item {
      padding: 0;
      .title {
        font-size: 2rem;
      }
      .list {
        font-size: 1.5rem;
        line-height: 2rem;
      }
      &:nth-child(1) {
        grid-column: 4/5;
        grid-row: 2/5;
      }
      &:nth-child(2) {
        grid-column: 1/3;
        grid-row: 1/3;
      }
      &:nth-child(3) {
        grid-column: 3/5;
        grid-row: 1/2;
      }
      &:nth-child(4) {
        grid-column: 1/4;
        grid-row: 3/5;
      }
    }
    .item_1 {
      padding: 0;
      align-items: center;
      justify-content: space-around;
      text-align: left;
      .photo {
        width: 10rem;
        height: 10rem;
      }
      .photo_text {
        margin-bottom: 0;
        font-size: 1.5rem;
        line-height: 1rem;
      }
    }
    .item_3 {
      .list_skill {
        li {
          width: 4rem;
        }
      }
    }
    .item_4 {
      overflow-y: scroll;
    }
  } //page2_end
  .page3 {
    .work_title {
      font-size: 2.5rem;
    }
    .work_case {
      .tab-content {
        margin: 0;
      }
      .nav-item {
        font-size: 1.5rem;
      }
    }
    .w_items {
      .item_w {
        width: 15rem;
      }
    }
  } //page3_end
  .page4 .finish_1 {
    font-size: 2rem;
    line-height: 3rem;
  } //page4_end
  .phone {
    font-size: 1.5rem;
    margin: 0;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 768px ~ 909px)*/
@media all and (max-width: 909px) {
  header {
    height: 10rem;
  }
  h1 {
    width: 15rem;
    height: 5rem;
  }
  nav {
    width: 40%;
  }
  .menu {
    font-size: 5rem;
  }
  .page1 {
    .home_1 {
      img {
        width: 80%;
      }
    }
  } //page1_end
  .page2 {
    .page2_case {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: repeat(5, minmax(100px, auto));
      justify-items: center;
    }
    .item {
      &:nth-child(1) {
        grid-column: 1/5;
        grid-row: 1/2;
      }
      &:nth-child(2) {
        grid-column: 1/3;
        grid-row: 2/4;
      }
      &:nth-child(3) {
        grid-column: 3/5;
        grid-row: 2/4;
      }
      &:nth-child(4) {
        grid-column: 1/5;
        grid-row: 4/6;
      }
      .title {
        font-size: 3.5rem;
      }
      .list {
        font-size: 2.5rem;
        line-height: 3.5rem;
      }
    }
    .item_1 {
      flex-direction: row;
      .photo {
        width: 18rem;
        height: 18rem;
      }
    }
    .item_3 {
      .list_skill {
        li {
          width: 9rem;
        }
      }
    }
  } //page2_end
  .page3 {
    .work_title {
      font-size: 4rem;
    }
    .work_case {
      margin-top: 3rem;
      .nav-item {
        font-size: 2.5rem;
      }
    }
    .w_items {
      .item_w {
        width: 30rem;
      }
    }
  } //page3_end
  .page4 .finish_2 img {
    width: 80%;
  }
}

@media all and (max-width: 850px) {
  header {
    height: 6rem;
  }
  h1 {
    width: 9rem;
    height: 3rem;
  }
  nav {
    width: 30%;
  }
  .menu {
    font-size: 3rem;
  }
  .page1 {
    .home_1 {
      img {
        width: 65%;
      }
    }
    .home_2 {
      font-size: 2rem;
      line-height: 3rem;
    }
  } //page1_end
  .page2 {
    .item {
      .title {
        font-size: 2.5rem;
      }
      .list {
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
    }
    .item_1 {
      .photo {
        width: 10rem;
        height: 10rem;
      }
    }
    .item_3 {
      .list_skill li {
        width: 6rem;
      }
    }
  } //page2_end
  .page3 {
    .work_title {
      font-size: 2.5rem;
    }
    .work_case {
      margin-top: 0.5rem;
      .nav-item {
        font-size: 1.5rem;
      }
    }
    .w_items {
      padding: 0;
      .item_w {
        width: 18rem;
      }
    }
  } //page3_end
  .page4 {
    .finish_1 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    .finish_2 img {
      width: 65%;
    }
  } //page4_end
}

@media all and (max-width: 767px) {
  header {
    height: 6rem;
  }
  h1 {
    width: 9rem;
    height: 3rem;
  }
  nav {
    width: 35%;
  }
  .menu {
    font-size: 3rem;
  }
  .page1 {
    .home_2 {
      font-size: 2rem;
      line-height: 3rem;
    }
  } //page1_end
  .page2 {
    .page2_case {
      grid-template-rows: repeat(4, minmax(100px, auto));
    }
    .item {
      padding: 0;
      .title {
        font-size: 2rem;
      }
      .list {
        font-size: 1.5rem;
        line-height: 2rem;
      }
      &:nth-child(1) {
        grid-column: 4/5;
        grid-row: 2/5;
      }
      &:nth-child(2) {
        grid-column: 1/3;
        grid-row: 1/3;
      }
      &:nth-child(3) {
        grid-column: 3/5;
        grid-row: 1/2;
      }
      &:nth-child(4) {
        grid-column: 1/4;
        grid-row: 3/5;
      }
      .title {
        font-size: 2rem;
      }
      .list {
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
    }
    .item_1 {
      flex-direction: column;
      .photo {
        width: 8rem;
        height: 8rem;
      }
    }
    .item_3 {
      .list_skill {
        li {
          width: 4rem;
        }
      }
    }
  } //page2_end
  .page3 {
    .work_case {
      margin-top: 0;
      .nav-item {
        font-size: 1.5rem;
      }
    }
    .work_title {
      font-size: 2rem;
    }
    .w_items {
      padding: 0;
      .item_w {
        width: 18rem;
      }
    }
  } //page3_end
  .page4 {
    .finish_1 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    .finish_2 {
      img {
        width: 65%;
      }
    }
  }
}

/* 모바일 세로 (해상도 469px ~ 766px)*/
@media all and (max-width: 470px) {
  nav {
    width: 45%;
  }
  .page3 {
    .work_case {
      margin-top: 2rem;
    }
    .w_items {
      height: 70vh;
    }
  } //page3_end
  .page4 .finish_2 img {
    width: 75%;
  }
} //468X780

@media all and (max-width: 415px) {
  .page3 .w_items .item_w {
    width: 15rem;
  }
} //414 X 715

@media all and (max-width: 361px) {
  .page2 {
    .item {
      .title {
        font-size: 1.5rem;
      }
      .list {
        font-size: 1rem;
        line-height: 2rem;
      }
    }
  } //page2_end
  .page3 {
    .w_items {
      .item_w {
        width: 12rem;
      }
    }
  } //page3_end
} //360 X 640

@media all and (max-width: 321px) {
  .page2 {
    .item {
      .list {
        line-height: 1.5rem;
        padding-left: 0;
      }
    }
    .item_3 {
      .list_skill {
        padding: 0;
        li {
          width: 3rem;
        }
      }
    }
  } //page2_end
} //320 X 533

/*

모바일
480 X 836
468 X 780
414 X 715

384 X 854
360 X 640
320 X 533

안드로이드
360 X 640

SO
375 X 667

*/
