@charset 'utf-8';

@font-face {
  font-family: "62570체";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/62570체.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  position: relative;
  font-size: 1vw;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "NanumSquareRound";
  color: #525450;
  a {
    text-decoration: none;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  .swiper-slide {
    display: flex;
  } //e:.swiper-slide
} //e:.swiper-container

.swiper-wrapper {
  .guide {
    font-weight: bold;
    h3 {
      font-size: 1.8rem;
    }
    #line {
      width: 100%;
      height: 0.5rem;
      border-radius: 4px;
    }
    .g_items {
      font-size: 1.2rem;
      margin: 3% 0;
    }
  } //e:guide
  .page1 {
    background: #e4e6ed;
    justify-content: center;
    align-items: center;
    #left {
      width: 40%;
      #title {
        width: 100%;
        h1 {
          font-size: 2.5vw;
          font-weight: bold;
          word-break: keep-all;
        }
        h2 {
          display: inline-block;
          width: 100%;
          margin: 4vh auto;
          text-align: center;
          img {
            width: 40%;
          }
        } //e:h2
      } //e:title
      .btn {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 4vh;
        p {
          font-size: 2vw;
          font-weight: bold;
          display: inline-block;
          padding: 2% 5%;
          transition: all 0.4s;
          border-radius: 5px;
          background: #fff;
          color: #51534f;
          &:hover {
            background: #04435b;
            color: #fff;
          }
        } //e:.btn>p
      } //e:.btn
      #work_info {
        width: 100%;
        p {
          font-size: 1.2rem;
          line-height: 1.2;
        }
        span {
          font-weight: bold;
          margin-right: 1%;
        }
      } //e:#work_info
    } //e:left
    #right {
      width: 40%;
      #mac {
        width: 80%;
        margin: 0 auto;
        img {
          width: 100%;
        }
      } //e:#mac
    } //e:right
  } //e:page1

  .page2 {
    justify-content: space-between;
    align-items: flex-end;
    .info_bg {
      width: 74vw;
      height: 75vh;
      background: #04435b;
      color: #fff;
    }
    .info_all {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .info_list {
        width: 100%;
        height: 15vh;
        display: flex;
        align-items: center;
      }
      .info_title {
        width: 20vw;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        word-break: keep-all;
      }
      .info_items {
        width: 50vw;
      }
      .info_text {
        font-size: 1.2em;
        line-height: 1.2;
        word-break: keep-all;
        span {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
      #key {
        color: #525450;
        ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
        li {
          display: inline-block;
          border-radius: 50%;
          background: #dae0ea;
          padding: 5vh 1vh;
          font-size: 1.2vw;
        }
      }
      #color {
        ul {
          display: flex;
          justify-content: space-evenly;
        }
        li {
          display: inline-block;
          width: 6vw;
          line-height: 1.2;
          text-align: center;
          p {
            margin-bottom: 1vh;
            text-indent: -9999px;
          }
          &:nth-child(1) {
            p {
              background: #060809;
            }
          }
          &:nth-child(2) {
            p {
              background: #0c1225;
            }
          }
          &:nth-child(3) {
            p {
              background: #283275;
            }
          }
          &:nth-child(4) {
            p {
              background: #ebde12;
            }
          }
        } //#color>li
      }
      #font {
        font-family: "62570체";
        font-size: 1.4vw;
      }
    } //.info_all_end
    .g_left {
      width: 40%;
      height: 100%;
      background: #0c1225;
      position: absolute;
      right: 0;
      z-index: -1;
    } //e:.g_left
    .guide {
      padding: 10% 0 0 50%;

      h3 {
        color: #eee6e6;
      }

      #line {
        background: #eee6e6;
      }

      .g_items {
        color: #8c8a8a;
      }
    }
  } //e:page2

  .page3 {
    flex-wrap: wrap;
    .guide {
      width: 15%;
      height: 20vh;
      margin-top: 3vh;
      text-align: right;
      h3 {
        color: #51534f;
      }
      #line {
        background: #eee6e6;
      }
      .g_items {
        color: #8c8a8a;
      }
    } //e:site
    .site_bg {
      width: 100vw;
      height: 80vh;
      background: #04435b;
    }
    #s_all {
      width: 100%;
      text-align: center;
      img {
        width: 50%;
        margin-top: 2vh;
      }
    }
  } //e:.page3
} //e:swiper-wrapper

.swiper-button-next::after {
  color: #dbc0ae;
}
.swiper-button-prev::after {
  color: #dbc0ae;
}

@media all and (max-width: 1441px) {
  .swiper-wrapper {
    .guide {
      h3 {
        font-size: 2.3vw;
      }
      .g_items {
        font-size: 1.7vw;
        margin: 4% 0;
      }
    }
    .page1 {
      #left,
      #right {
        width: 43%;
      }
      #left {
        #title {
          h1 {
            font-size: 3.2vw;
          }
          h2 {
            img {
              width: 50%;
            }
          }
          h3 {
            font-size: 3vw;
          }
        }
        .btn p {
          font-size: 2.5vw;
        }
        #work_info p {
          font-size: 1.8vw;
        }
      }
      #right {
        #mac {
          width: 90%;
        }
      }
    } //page1_end
    .page2 {
      .info_bg {
        width: 85vw;
        height: 80vh;
      }
      .info_all {
        .info_title {
          width: 25vw;
          font-size: 2.3vw;
        }
        .info_items {
          width: 55vw;
        }
        .info_text {
          font-size: 2vw;
          span {
            font-size: 2.4vw;
          }
        }
        #key {
          li {
            font-size: 2vw;
          }
        }
        #color {
          ul {
            font-size: 1.8vw;
          }
          li {
            width: 10vw;
          }
        }
        #font {
          font-size: 2vw;
        }
      }
    } //page2_end
    .page3 {
      #s_all img {
        width: 70%;
        margin-top: 5vh;
      }
    } //page3_end
  }
} //width:1440 ~

@media all and (max-width: 1025px) and (orientation: portrait) {
  .swiper-wrapper {
    .guide {
      h3 {
        font-size: 3.5vw;
      }
      .g_items {
        font-size: 2.8vw;
      }
    }
    .page1 {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-end;
      #left,
      #right {
        width: 70%;
      }
      #left {
        #title {
          h1 {
            font-size: 4.5vw;
          }
          h2 {
            margin: 2vh auto;
            img {
              width: 45%;
            }
          }
        }
        .btn {
          margin-bottom: 2vh;
          p {
            font-size: 3.5vw;
          }
        }
        #work_info p {
          font-size: 2.5vw;
        }
      }
      #right {
        #mac {
          margin: 3vh auto;
        }
      }
    } //page1_end
    .page2 {
      .guide {
        padding-left: 25%;
      }
      .info_bg {
        height: 85vh;
      }
      .info_all {
        justify-content: flex-start;
        .info_list {
          height: 20vh;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-around;
          &:last-child {
            height: 10vh;
          }
        }
        .info_items {
          width: 80%;
          text-align: center;
          margin: 0 auto;
        }
        .info_title {
          width: 30vw;
          font-size: 4vw;
          line-height: 1.4;
        }
        .info_text {
          font-size: 2.5vw;
          span {
            font-size: 3.5vw;
          }
        }
        #key {
          li {
            font-size: 3vw;
          }
        }
        #color {
          ul {
            font-size: 2.5vw;
          }
          li {
            width: 15vw;
          }
        }
        #font {
          font-size: 3vw;
          width: 100%;
          text-align: center;
        }
      }
    } //page2_end
    .page3 {
      .guide {
        width: 25vw;
        height: 12vh;
      }
      .site_bg {
        height: 90vh;
      }
      #s_all {
        img {
          width: 85%;
          margin-top: 10vh;
        }
      }
    } //page3_end
  }
} //width:1024~ , 세로모드

//(orientation: portrait)_세로모드 (orientation: landscape)_가로모드
