@charset 'utf-8';

html,
body {
  position: relative;
  font-size: 1vw;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "NanumSquareRound";
  color: #51534f;
  overflow: hidden;
  a {
    text-decoration: none;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  .swiper-slide {
    display: flex;
  } //e:.swiper-slide
} //e:.swiper-container

.swiper-wrapper {
  h3 {
    font-size: 2rem;
  }
  #line {
    width: 100%;
    height: 0.5rem;
    border-radius: 4px;
    background: #eeede8;
    margin-top: 2%;
    &.g_item {
      margin: 0;
    }
  }
  .g_item {
    color: #8c8a8a;
    font-size: 1.5rem;
    margin: 3% 0;
  }
  .page1 {
    background: #e4e0d7;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    #left {
      width: 40%;
      #title {
        width: 100%;
        h1 {
          font-size: 2.5vw;
          font-weight: bold;
        }
        h2 {
          display: inline-block;
          width: 100%;
          margin: 8% auto;
          text-align: center;
          img {
            width: 50%;
          }
        } //e:h2
      } //e:title
      #site_btn {
        width: 100%;
        text-align: center;
        margin: 0% auto 4%;
        a {
          font-size: 2em;
          font-weight: bold;
          display: inline-block;
          padding: 1% 5%;
          transition: all 0.4s;
          border-radius: 5px;
          background: #fff;
          &:hover {
            background: #c7b18e;
            color: #fff;
          }
        }
      } //e:site_btn
      #work_info {
        p {
          font-size: 1.2rem;
        }
        span {
          font-weight: bold;
          margin-right: 1%;
        }
      } //e:#work_info
    } //e:left
    #right {
      width: 40%;
      #mac {
        img {
          width: 100%;
        }
        .site {
          width: 59.55%;
          height: 57.29%;
          background: url("../images/works/decorare_full.png") no-repeat 0 top;
          background-size: 100% auto;
        } //e:site
      } //e:#mac
    } //e:right
  } //e:page1

  .page2 {
    .info_bg {
      width: 80vw;
      background: #eeede8;
      margin: auto 0;
    }
    .info_list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 9vw;
    }
    .info_title {
      font-weight: bold;
      font-size: 1.5em;
      text-align: center;
      width: 15vw;
    }
    .info_text {
      font-size: 1.2em;
      width: 67%;
      line-height: 1.2;
      word-break: keep-all;
      span {
        font-size: 1.5rem;
        font-weight: bold;
      }
    } //e:info_right
    #key {
      width: 50vw;
      height: 5vh;
      ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
      }
      li {
        border-radius: 50%;
        background: #d1b08d;
        font-size: 1.3rem;
        width: 13%;
        padding: 5% 0;
        color: #fff;
      }
    } //e:key
    #color {
      width: 50vw;
      height: 5vh;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      li {
        display: inline-block;
        font-size: 1.2rem;
        width: 7vw;
        line-height: 1.5rem;
        text-align: center;
        p {
          text-indent: -9999px;
          margin-bottom: 8%;
        }
      }
      li:nth-child(1) {
        p {
          background: #e4e0d7;
        }
      }
      li:nth-child(2) {
        p {
          background: #c7b18e;
        }
      }
      li:nth-child(3) {
        p {
          background: #dededd;
        }
      }
    } //e:color
    #font {
      font-size: 1.5em;
    }
    .g_right {
      width: 40vw;
      height: 100%;
      background: #e4ddd5;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    } //e:.g_right
    .guide {
      position: absolute;
      right: 0;
      bottom: 13%;
      font-weight: bold;
      width: 36%;
    } //e:guide
  } //e:page2

  .page3 {
    justify-content: space-between;
    .site_bg {
      width: 70%;
      background: #e4e0d7;
      display: flex;
      justify-content: space-around;
      align-items: center;
      p {
        width: 30%;
      }
      img {
        width: 100%;
      }
    }
    .info_case {
      width: 22%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .s_info {
      padding: 20% 10% 0 0;
      line-height: 1.2;
      p {
        margin: 0;
        color: #000;
        font-size: 1.5em;
      }
    }
    .site {
      font-weight: bold;
      padding-bottom: 10%;
    } //e:site
  } //e:.page3
} //e:swiper-wrapper

.swiper-button-next::after {
  color: #dbc0ae;
}
.swiper-button-prev::after {
  color: #dbc0ae;
}

@media all and (max-width: 1441px) {
  .swiper-wrapper {
    .page1 {
      #left {
        width: 45%;
        #title {
          h1 {
            font-size: 3.5vw;
          }
          h2 {
            margin: 11% auto;
          }
        }
        #site_btn {
          margin-bottom: 8%;
          a {
            font-size: 3rem;
            padding: 2% 6%;
          }
        }
        #work_info p {
          font-size: 2rem;
        }
      }
      #right {
        width: 45%;
      }
    } //page1_end
    .page2 {
      .info_list {
        height: 12vw;
      }
      .info_title {
        font-size: 2.3em;
        width: 22vw;
      }
      .info_text {
        font-size: 1.8rem;
        width: 55vw;
        span {
          font-size: 2rem;
        }
      }
      #key {
        li {
          font-size: 1.8rem;
          width: 10vw;
          padding: 4vw 0;
        }
      }
      #color {
        li {
          font-size: 1.8rem;
          width: 9vw;
          line-height: 2rem;
        }
      }
      #font {
        font-size: 2rem;
      }
      .guide {
        width: 40%;
      }
    } //page2_end
    .page3 {
      .site_bg {
        justify-content: center;
        p {
          width: 40%;
        }
      }
      .s_info {
        p {
          font-size: 2rem;
        }
      }
    } //page3_end
  }
} // width:1440px 이하

@media all and (max-width: 921px) {
  .swiper-wrapper {
    .page1 {
      #left {
        width: 40%;
        #title {
          h1 {
            font-size: 3vw;
          }
          h2 {
            margin: 4% auto;
          }
        }
        #site_btn {
          margin-bottom: 4%;
          a {
            font-size: 2.5rem;
          }
        }
        #work_info p {
          font-size: 1.5rem;
          line-height: 1.8rem;
        }
      }
      #right {
        width: 40%;
      }
    } //page1_end
    .page2 {
      .info_bg {
        width: 70vw;
      }
      .info_list {
        height: 9vw;
      }
      .info_title {
        width: 20vw;
        font-size: 2rem;
      }
      .info_text {
        font-size: 1.5rem;
        width: 50vw;
        span {
          font-size: 1.8rem;
        }
      }
      #key {
        li {
          font-size: 1.5rem;
          width: 8vw;
          padding: 3vw 0;
        }
      }
      #color {
        li {
          font-size: 1.5rem;
          width: 8vw;
          line-height: 1.5rem;
        }
      }
      #font {
        font-size: 1.5rem;
      }
    } //page2_end
    .page3 {
      .site_bg {
        p {
          width: 30%;
        }
      }
      .info_case {
        width: 25%;
      }
    } //page3_end
  }
} // width:920px 이하

@media all and (max-width: 830px),
  (max-width: 1025px) and (orientation: portrait) {
  .swiper-wrapper {
    .page1 {
      flex-direction: column-reverse;
      #left {
        width: 60%;
        #title {
          h1 {
            font-size: 5vw;
          }
          h2 img {
            width: 60%;
          }
        }
        #site_btn {
          a {
            font-size: 4rem;
          }
        }
        #work_info p {
          font-size: 3rem;
          line-height: 3.5rem;
        }
      }
      #right {
        width: 60%;
      }
    } //page1_end
    .page2 {
      .g_right {
        width: 100vw;
        height: 30vh;
        top: auto;
      }
      .info_bg {
        width: 85vw;
        height: 85vh;
        margin: 0;
        .info_all {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          height: 100%;
          justify-content: space-evenly;
        }
      }
      .info_list {
        height: 20vw;
      }
      .info_title {
        width: 28vw;
        font-size: 3.5rem;
      }
      .info_text {
        font-size: 2.5rem;
        span {
          font-size: 3rem;
        }
      }
      #key li {
        font-size: 3rem;
        width: 14vw;
        padding: 5vw 0;
      }
      #color li {
        font-size: 2.5rem;
        width: 14vw;
        line-height: 3rem;
      }
      #font {
        font-size: 3rem;
      }
      .guide {
        width: 100%;
        text-align: right;
      }
    } //page2_end
    .page3 {
      flex-wrap: wrap;
      align-items: flex-start;
      .site_bg {
        width: 100vw;
        height: 70vh;
        p {
          width: 45%;
        }
      }
      .site {
        text-align: right;
      }
      .s_info {
        padding: 6% 0 0 11%;
        width: 85%;
        text-align: right;
        p {
          font-size: 3rem;
        }
      }
      .info_case {
        width: 100vw;
      }
    } //page3_end
    .g_item {
      font-size: 2.5rem;
      margin: 2% 0;
      padding-right: 1%;
    }
    h3 {
      font-size: 3rem;
      padding-right: 1%;
    }
    #line {
      display: inline-block;
      width: 30vw;
      text-align: right;
    }
  }
} // width:720px이하 세로모드

/*
1600
1180
481

(orientation:portrait) _세로모드
(orientation:landscape) _가로모드
*/
