@charset 'utf-8';

html,
body {
  position: relative;
  font-size: 1vw;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "NanumSquareRound";
  color: #fff;
  a {
    text-decoration: none;
  }
}

.swiper-container {
  width: 100vw;
  height: 100vh;
  .swiper-slide {
    display: flex;
  } //e:.swiper-slide
} //e:.swiper-container

.swiper-wrapper {
  .guide {
    font-weight: bold;
    text-align: right;
    h3 {
      font-size: 1.8rem;
    }
    #line {
      width: 100%;
      height: 0.5rem;
      border-radius: 4px;
      background: #eee6e6;
      margin-top: 2%;
      &.g_item {
        margin: 0;
      }
    }
    .g_items {
      color: #8c8a8a;
      font-size: 1.2rem;
      margin: 3% 0;
    }
  } //e:guide
  .page1 {
    background: #614f4f;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    #left {
      width: 40%;
      #title {
        width: 100%;
        h1 {
          font-size: 2.5vw;
          font-weight: bold;
          word-break: keep-all;
        }
        h2 {
          display: inline-block;
          width: 100%;
          margin: 8% 0;
          text-align: center;
          img {
            width: 30%;
          }
        } //e:h2
      } //e:title
      .btn {
        font-size: 2vw;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 7%;
        p {
          font-weight: bold;
          padding: 1% 5%;
          display: inline-block;
          transition: all 0.4s;
          border-radius: 5px;
          background: #fff;
          color: #51534f;
          &:hover {
            background: #c7b18e;
            color: #fff;
          }
        }
      } //e:.btn
      #work_info {
        p {
          font-size: 1.2vw;
          line-height: 1.5vw;
        }
        span {
          font-weight: bold;
          margin-right: 1%;
        }
      } //e:#work_info
    } //e:left
    #right {
      width: 40%;
      #mac {
        width: 90%;
        margin: 0 auto;
        img {
          width: 100%;
        }
      } //e:#mac
    } //e:right
  } //e:page1

  .page2 {
    align-items: flex-end;
    .g_left {
      width: 40vw;
      height: 100vh;
      background: #121a23;
      position: absolute;
      z-index: -1;
    } //e:.g_left
    .guide {
      width: 20vw;
      margin-top: 10vh;
    }
    .p2_info_case {
      width: 100vw;
      text-align: right;
    }
    .info_bg {
      width: 85vw;
      height: 75vh;
      background: #dae0ea;
      color: #51534f;
      display: inline-block;
      text-align: left;
    }
    .info_all {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      .info_list {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .info_title {
        width: 20vw;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        word-break: keep-all;
      }
      .info_text {
        font-size: 1.2em;
        width: 60vw;
        line-height: 1.2;
        word-break: keep-all;
        span {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
      #key {
        width: 60vw;
        height: 100%;
        ul {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }
        li {
          display: inline-block;
          border-radius: 50%;
          background: #9998a1;
          width: 7.5vw;
          text-align: center;
          padding: 3vw 0;
          color: #fff;
          font-size: 1.2rem;
        }
      } //e:key
      #color {
        width: 60vw;
        height: 100%;
        ul {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }
        li {
          display: inline-block;
          width: 6vw;
          line-height: 1.5rem;
          text-align: center;
          font-size: 1.2rem;
          p {
            margin-bottom: 0.5vw;
            text-indent: -9999px;
          }
        }
        li:nth-child(1) {
          p {
            background: #fff;
          }
        }
        li:nth-child(2) {
          p {
            background: #693838;
          }
        }
        li:nth-child(3) {
          p {
            background: #14161c;
          }
        }
      } //e:color
      #font {
        font-size: 1.3rem;
        #f_01 {
          font-family: "MaruBuri-Regular", sans-serif;
        }
        #f_02 {
          font-family: "NanumSquare";
        }
      }
    }
  } //e:page2

  .page3 {
    flex-direction: column;
    justify-content: flex-start;

    .site_bg {
      width: 100vw;
      height: 75vh;
      background: #614f4f;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    #s_old {
      width: 20%;
      img {
        width: 100%;
      }
    }
    #s_new {
      width: 30%;
      img {
        width: 100%;
      }
    }
    .guide {
      width: 15vw;
      height: 20vh;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-wrap: wrap;
      flex-direction: column;
      h3 {
        color: #323332;
      }
    } //e:site
  } //e:.page3
} //e:swiper-wrapper

.swiper-button-next::after {
  color: #dbc0ae;
}
.swiper-button-prev::after {
  color: #dbc0ae;
}

@media all and (max-width: 1201px) {
  .swiper-wrapper {
    .guide {
      h3 {
        font-size: 2.5rem;
      }
      .g_items {
        font-size: 1.8rem;
      }
    }
    .page1 {
      #left {
        #title {
          h1 {
            font-size: 3vw;
          }
          h2 {
            img {
              width: 40%;
            }
          }
        }
        #left {
          .btn {
            font-size: 2.5vw;
          }
          #work_info {
            p {
              font-size: 1.5vw;
              line-height: 2vw;
            }
          }
        }
        #right {
          width: 45%;
        }
      }
    } //page1_end
    .page2 {
      .info_all {
        .info_title {
          font-size: 2rem;
        }
        .info_text {
          font-size: 1.5rem;
          span {
            font-size: 2rem;
          }
        }
        #key {
          li {
            width: 10vw;
            padding: 4vw 0;
            font-size: 1.5rem;
          }
        }
        #color {
          li {
            width: 10vw;
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }
        #font {
          font-size: 1.8rem;
        }
      }
    } //page2_end
    .page3 {
      .guide {
        width: 20vw;
      }
      #s_old {
        width: 30%;
      }
      #s_new {
        width: 45%;
      }
    } //page3_end
  }
} //width:1200px ~1025px (가로모드&세로모드)

@media all and (max-width: 1025px) and (orientation: landscape) {
  .swiper-wrapper {
    .page1 {
      #left {
        width: 45%;
        #title {
          h1 {
            font-size: 3.5vw;
          }
          h2 img {
            width: 50%;
          }
        }
        .btn {
          font-size: 3vw;
        }
        #work_info p {
          font-size: 2vw;
          line-height: 2.5vw;
        }
      }
      #right {
        width: 45%;
        #max {
          width: 95%;
        }
      }
    } //page1_end
    .page2 {
      .info_all {
        .info_title {
          width: 25vw;
          font-size: 2.8rem;
        }
        .info_text {
          width: 55vw;
          font-size: 2rem;
          span {
            font-size: 2.5rem;
          }
        }
        #key {
          width: 55vw;
          li {
            width: 13vw;
            padding: 5vw 0;
            font-size: 2.5rem;
          }
        }
        #color {
          width: 55vw;
          li {
            width: 13vw;
            font-size: 2rem;
            line-height: 2.5rem;
          }
        }
        #font {
          font-size: 2.5vw;
        }
      }
    } //page2_end
  }
} //width:1024px ~ 921px (가로모드)

@media all and (max-width: 1025px) and (orientation: portrait) {
  .swiper-wrapper {
    .guide {
      h3 {
        font-size: 3vh;
      }
      .g_items {
        font-size: 2vh;
      }
      #line {
        height: 0.5vh;
      }
    }
    .page1 {
      flex-direction: column-reverse;
      justify-content: space-evenly;
      align-items: center;
      #left {
        width: 70%;
        #title {
          h1 {
            font-size: 4vh;
          }
          h2 {
            margin: 5% 0;
            img {
              width: 45%;
            }
          }
        }
        .btn {
          font-size: 3vh;
          margin-bottom: 4%;
        }
        #work_info p {
          font-size: 2vh;
          line-height: 2.5vh;
        }
      }
      #right {
        width: 70%;
      }
    } //page1_end
    .page2 {
      width: 20vh;
      .g_left {
        width: 30vh;
      }
      .guide {
        width: 25vh;
      }
      .info_all {
        .info_title {
          width: 20vh;
          font-size: 3vh;
        }
        .info_text {
          width: 40vh;
          font-size: 2vh;
          span {
            font-size: 2.5vh;
          }
        }
        #key {
          width: 40vh;
          li {
            width: 10vh;
            padding: 4vh 0;
            font-size: 2vh;
          }
        }
        #color {
          width: 40vh;
          li {
            width: 10vh;
            font-size: 2vh;
            line-height: 2.5vh;
          }
        }
        #font {
          font-size: 2.5vh;
        }
      }
    } //page2_end
    .page3 {
      .site_bg {
        flex-direction: column;
        height: 85vh;
      }
      #s_old {
        width: 35%;
      }
      #s_new {
        width: 50%;
      }
      .guide {
        width: 27vw;
        height: 10vh;
      }
    } //page3_end
  }
} //width:1024px ~ 721px (세로모드)

@media all and (max-width: 921px) and (max-height: 421px) {
  .swiper-wrapper {
    .page1 {
      #left {
        width: 40%;
        #title {
          h1 {
            font-size: 3vw;
          }
          h2 {
            margin: 5% 0;
            img {
              width: 35%;
            }
          }
        }
        .btn {
          font-size: 2.5vw;
        }
        #work_info p {
          font-size: 1.5vw;
          line-height: 2vw;
        }
      }
    } //page1_end
    .page2 {
      justify-content: space-between;
      .g_left {
        width: 25%;
        position: unset;
        z-index: 0;
      }
      .p2_info_case {
        width: 70%;
        height: 100%;
      }
      .info_bg {
        width: 100%;
        height: 100%;
      }
      .info_all {
        .info_title {
          width: 18vw;
          font-size: 2.3vw;
        }
        .info_text {
          width: 50vw;
          font-size: 1.8vw;
          span {
            font-size: 2vw;
          }
        }
        #key {
          width: 50vw;
          li {
            width: 11vw;
            padding: 4vw 0;
            font-size: 2vw;
          }
        }
        #color {
          width: 50vw;
          li {
            width: 11vw;
            font-size: 2vw;
            line-height: 1.2;
          }
        }
        #font {
          font-size: 2vw;
        }
      }
    } //page2_end
    .page3 {
      #s_old {
        width: 20%;
      }
      #s_new {
        width: 32%;
      }
    } //page3_end
  }
} //width: 920px ~ and height: 420px ~ (가로모드)

@media all and (max-width: 720px) and (orientation: portrait) {
  .swiper-wrapper {
    .page2 {
      flex-direction: column;
      .g_left {
        position: unset;
        z-index: 0;
        width: 100vw;
        height: 15vh;
      }
      .guide {
        width: 25vh;
        margin-top: 4vh;
      }
      .info_bg {
        width: 100vw;
        height: 85vh;
      }
    } //page2_end
    .page3 {
      #s_old {
        width: 42%;
      }
      #s_new {
        width: 63%;
      }
    } //page3_end
  }
} // width: 720px ~ (세로모드)

@media all and (max-width: 421px) {
  .swiper-wrapper {
    .page1 {
      justify-content: flex-end;
      #left {
        width: 80%;
        #title h1 {
          font-size: 3.5vh;
        }
        .btn {
          font-size: 2.5vh;
          p {
            padding: 3%;
          }
        }
      }
      #right {
        width: 85%;
        padding: 4vh 0;
      }
    } //page1_end
    .page2 {
      background: #dae0ea;
      .g_left {
        height: 10vh;
      }
      .guide {
        margin-top: 2vh;
      }
      .info_bg {
        height: 70vh;
      }
      .info_all {
        .info_list {
          flex-wrap: wrap;
        }
        .info_title {
          line-height: 2.5;
        }
        .info_text,
        #key,
        #color,
        #font {
          width: 100%;
          text-align: center;
        }
      }
    } //page2_end
    .page3 {
      .guide {
        width: 20vh;
      }
      .site_bg {
        height: 70vh;
      }
      #s_old {
        width: 45%;
      }
      #s_new {
        width: 75%;
      }
    } //page3_end
  }
}
