@charset 'utf-8';

html,
body {
  position: relative;
  font-size: 1vw;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "NanumSquareRound";
  color: #51534f;
  overflow: hidden;
  a {
    text-decoration: none;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  .swiper-slide {
    display: flex;
  } //e:.swiper-slide
} //e:.swiper-container

.swiper-wrapper {
  .page1 {
    background: #e4e0d7;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    #left {
      width: 40%;
      #title {
        width: 100%;
        h1 {
          font-size: 2.5vw;
          font-weight: bold;
        }
        h2 {
          display: inline-block;
          width: 100%;
          margin: 8% auto;
          text-align: center;
          img {
            width: 50%;
          }
        } //e:h2
      } //e:title
      #site_btn {
        width: 100%;
        text-align: center;
        margin: 0% auto 4%;
        a {
          font-size: 2em;
          font-weight: bold;
          display: inline-block;
          padding: 1% 5%;
          transition: all 0.4s;
          border-radius: 5px;
          background: #fff;
          &:hover {
            background: #c7b18e;
            color: #fff;
          }
        }
      } //e:site_btn
      #work_info {
        p {
          font-size: 1.2rem;
        }
        span {
          font-weight: bold;
          margin-right: 1%;
        }
      } //e:#work_info
    } //e:left
    #right {
      width: 40%;
      #mac {
        img {
          width: 100%;
        }
        .site {
          width: 59.55%;
          height: 57.29%;
          background: url("../images/works/decorare_full.png") no-repeat 0 top;
          background-size: 100% auto;
        } //e:site
      } //e:#mac
    } //e:right
  } //e:page1

  .page2 {
    .info_bg {
      width: 80%;
      background: #eeede8;
      margin: auto 0;
    }
    .info_list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 8rem;
    }
    .info_title {
      font-weight: bold;
      font-size: 1.5em;
      text-align: center;
      width: 15vw;
    }
    .info_text {
      font-size: 1.2em;
      width: 67%;
      line-height: 1.2;
      span {
        font-size: 1.5rem;
        font-weight: bold;
      }
    } //e:info_right
    #key {
      width: 50vw;
      height: 5vh;
      ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
      }
      li {
        border-radius: 50%;
        background: #d1b08d;
        font-size: 1.3rem;
        width: 13%;
        padding: 5% 0;
        color: #fff;
      }
    } //e:key
    #color {
      width: 50vw;
      height: 5vh;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      li {
        margin: 0 5%;
        display: inline-block;
        p {
          width: 120%;
          height: 5%;
          text-indent: -9999px;
          margin-bottom: 16%;
        }
      }
      li:nth-child(1) {
        margin-left: 3%;
        p {
          background: #e4e0d7;
        }
      }
      li:nth-child(2) {
        p {
          background: #c7b18e;
        }
      }
      li:nth-child(3) {
        p {
          background: #dededd;
        }
      }
    } //e:color
    #font {
      font-size: 1.5em;
    }
    .g_right {
      width: 40%;
      height: 100%;
      background: #e4ddd5;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    } //e:.g_right
    .guide {
      position: absolute;
      right: 0;
      bottom: 13%;
      font-weight: bold;
      width: 36%;
      h3 {
        font-size: 1.8rem;
      }
      #line {
        width: 100%;
        height: 0.5rem;
        border-radius: 4px;
        background: #fff8f8;
        margin-top: 2%;
      }
      p {
        color: #8c8a8a;
        font-size: 1.2rem;
        margin: 3% 0;
      }
    } //e:guide
  } //e:page2

  .page3 {
    justify-content: space-between;
    .site_bg {
      width: 70%;
      background: #e4e0d7;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
      }
    }
    .info_case {
      width: 22%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .s_info {
      font-size: 1.5em;
      padding: 5% 10% 0 0;
      line-height: 1.2;
    }
    .site {
      font-weight: bold;
      padding-bottom: 10%;
      h3 {
        font-size: 2rem;
      }
      #line {
        width: 100%;
        height: 0.5rem;
        border-radius: 4px;
        background: #e4e0d7;
        margin-top: 2%;
      }
      p {
        color: #8c8a8a;
        font-size: 1.2rem;
        margin: 3% 0;
      }
    } //e:site
  } //e:.page3
} //e:swiper-wrapper

.swiper-button-next::after {
  color: #dbc0ae;
}
.swiper-button-prev::after {
  color: #dbc0ae;
}
