@charset "UTF-8";
@font-face {
  font-family: "62570체";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/62570체.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  position: relative;
  font-size: 1vw;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "NanumSquareRound";
  color: #525450;
}
body a {
  text-decoration: none;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-slide {
  display: flex;
}

.swiper-wrapper .guide {
  font-weight: bold;
}
.swiper-wrapper .guide h3 {
  font-size: 1.8rem;
}
.swiper-wrapper .guide #line {
  width: 100%;
  height: 0.5rem;
  border-radius: 4px;
}
.swiper-wrapper .guide .g_items {
  font-size: 1.2rem;
  margin: 3% 0;
}
.swiper-wrapper .page1 {
  background: #e4e6ed;
  justify-content: center;
  align-items: center;
}
.swiper-wrapper .page1 #left {
  width: 40%;
}
.swiper-wrapper .page1 #left #title {
  width: 100%;
}
.swiper-wrapper .page1 #left #title h1 {
  font-size: 2.5vw;
  font-weight: bold;
  word-break: keep-all;
}
.swiper-wrapper .page1 #left #title h2 {
  display: inline-block;
  width: 100%;
  margin: 4vh auto;
  text-align: center;
}
.swiper-wrapper .page1 #left #title h2 img {
  width: 40%;
}
.swiper-wrapper .page1 #left .btn {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4vh;
}
.swiper-wrapper .page1 #left .btn p {
  font-size: 2vw;
  font-weight: bold;
  display: inline-block;
  padding: 2% 5%;
  transition: all 0.4s;
  border-radius: 5px;
  background: #fff;
  color: #51534f;
}
.swiper-wrapper .page1 #left .btn p:hover {
  background: #04435b;
  color: #fff;
}
.swiper-wrapper .page1 #left #work_info {
  width: 100%;
}
.swiper-wrapper .page1 #left #work_info p {
  font-size: 1.2rem;
  line-height: 1.2;
}
.swiper-wrapper .page1 #left #work_info span {
  font-weight: bold;
  margin-right: 1%;
}
.swiper-wrapper .page1 #right {
  width: 40%;
}
.swiper-wrapper .page1 #right #mac {
  width: 80%;
  margin: 0 auto;
}
.swiper-wrapper .page1 #right #mac img {
  width: 100%;
}
.swiper-wrapper .page2 {
  justify-content: space-between;
  align-items: flex-end;
}
.swiper-wrapper .page2 .info_bg {
  width: 74vw;
  height: 75vh;
  background: #04435b;
  color: #fff;
}
.swiper-wrapper .page2 .info_all {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.swiper-wrapper .page2 .info_all .info_list {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
}
.swiper-wrapper .page2 .info_all .info_title {
  width: 20vw;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  word-break: keep-all;
}
.swiper-wrapper .page2 .info_all .info_items {
  width: 50vw;
}
.swiper-wrapper .page2 .info_all .info_text {
  font-size: 1.2em;
  line-height: 1.2;
  word-break: keep-all;
}
.swiper-wrapper .page2 .info_all .info_text span {
  font-size: 1.5rem;
  font-weight: bold;
}
.swiper-wrapper .page2 .info_all #key {
  color: #525450;
}
.swiper-wrapper .page2 .info_all #key ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.swiper-wrapper .page2 .info_all #key li {
  display: inline-block;
  border-radius: 50%;
  background: #dae0ea;
  padding: 5vh 1vh;
  font-size: 1.2vw;
}
.swiper-wrapper .page2 .info_all #color ul {
  display: flex;
  justify-content: space-evenly;
}
.swiper-wrapper .page2 .info_all #color li {
  display: inline-block;
  width: 6vw;
  line-height: 1.2;
  text-align: center;
}
.swiper-wrapper .page2 .info_all #color li p {
  margin-bottom: 1vh;
  text-indent: -9999px;
}
.swiper-wrapper .page2 .info_all #color li:nth-child(1) p {
  background: #060809;
}
.swiper-wrapper .page2 .info_all #color li:nth-child(2) p {
  background: #0c1225;
}
.swiper-wrapper .page2 .info_all #color li:nth-child(3) p {
  background: #283275;
}
.swiper-wrapper .page2 .info_all #color li:nth-child(4) p {
  background: #ebde12;
}
.swiper-wrapper .page2 .info_all #font {
  font-family: "62570체";
  font-size: 1.4vw;
}
.swiper-wrapper .page2 .g_left {
  width: 40%;
  height: 100%;
  background: #0c1225;
  position: absolute;
  right: 0;
  z-index: -1;
}
.swiper-wrapper .page2 .guide {
  padding: 10% 0 0 50%;
}
.swiper-wrapper .page2 .guide h3 {
  color: #eee6e6;
}
.swiper-wrapper .page2 .guide #line {
  background: #eee6e6;
}
.swiper-wrapper .page2 .guide .g_items {
  color: #8c8a8a;
}
.swiper-wrapper .page3 {
  flex-wrap: wrap;
}
.swiper-wrapper .page3 .guide {
  width: 15%;
  height: 20vh;
  margin-top: 3vh;
  text-align: right;
}
.swiper-wrapper .page3 .guide h3 {
  color: #51534f;
}
.swiper-wrapper .page3 .guide #line {
  background: #eee6e6;
}
.swiper-wrapper .page3 .guide .g_items {
  color: #8c8a8a;
}
.swiper-wrapper .page3 .site_bg {
  width: 100vw;
  height: 80vh;
  background: #04435b;
}
.swiper-wrapper .page3 #s_all {
  width: 100%;
  text-align: center;
}
.swiper-wrapper .page3 #s_all img {
  width: 50%;
  margin-top: 2vh;
}

.swiper-button-next::after {
  color: #dbc0ae;
}

.swiper-button-prev::after {
  color: #dbc0ae;
}

@media all and (max-width: 1441px) {
  .swiper-wrapper .guide h3 {
    font-size: 2.3vw;
  }
  .swiper-wrapper .guide .g_items {
    font-size: 1.7vw;
    margin: 4% 0;
  }
  .swiper-wrapper .page1 #left,
.swiper-wrapper .page1 #right {
    width: 43%;
  }
  .swiper-wrapper .page1 #left #title h1 {
    font-size: 3.2vw;
  }
  .swiper-wrapper .page1 #left #title h2 img {
    width: 50%;
  }
  .swiper-wrapper .page1 #left #title h3 {
    font-size: 3vw;
  }
  .swiper-wrapper .page1 #left .btn p {
    font-size: 2.5vw;
  }
  .swiper-wrapper .page1 #left #work_info p {
    font-size: 1.8vw;
  }
  .swiper-wrapper .page1 #right #mac {
    width: 90%;
  }
  .swiper-wrapper .page2 .info_bg {
    width: 85vw;
    height: 80vh;
  }
  .swiper-wrapper .page2 .info_all .info_title {
    width: 25vw;
    font-size: 2.3vw;
  }
  .swiper-wrapper .page2 .info_all .info_items {
    width: 55vw;
  }
  .swiper-wrapper .page2 .info_all .info_text {
    font-size: 2vw;
  }
  .swiper-wrapper .page2 .info_all .info_text span {
    font-size: 2.4vw;
  }
  .swiper-wrapper .page2 .info_all #key li {
    font-size: 2vw;
  }
  .swiper-wrapper .page2 .info_all #color ul {
    font-size: 1.8vw;
  }
  .swiper-wrapper .page2 .info_all #color li {
    width: 10vw;
  }
  .swiper-wrapper .page2 .info_all #font {
    font-size: 2vw;
  }
  .swiper-wrapper .page3 #s_all img {
    width: 70%;
    margin-top: 5vh;
  }
}
@media all and (max-width: 1025px) and (orientation: portrait) {
  .swiper-wrapper .guide h3 {
    font-size: 3.5vw;
  }
  .swiper-wrapper .guide .g_items {
    font-size: 2.8vw;
  }
  .swiper-wrapper .page1 {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  .swiper-wrapper .page1 #left,
.swiper-wrapper .page1 #right {
    width: 70%;
  }
  .swiper-wrapper .page1 #left #title h1 {
    font-size: 4.5vw;
  }
  .swiper-wrapper .page1 #left #title h2 {
    margin: 2vh auto;
  }
  .swiper-wrapper .page1 #left #title h2 img {
    width: 45%;
  }
  .swiper-wrapper .page1 #left .btn {
    margin-bottom: 2vh;
  }
  .swiper-wrapper .page1 #left .btn p {
    font-size: 3.5vw;
  }
  .swiper-wrapper .page1 #left #work_info p {
    font-size: 2.5vw;
  }
  .swiper-wrapper .page1 #right #mac {
    margin: 3vh auto;
  }
  .swiper-wrapper .page2 .guide {
    padding-left: 25%;
  }
  .swiper-wrapper .page2 .info_bg {
    height: 85vh;
  }
  .swiper-wrapper .page2 .info_all {
    justify-content: flex-start;
  }
  .swiper-wrapper .page2 .info_all .info_list {
    height: 20vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  .swiper-wrapper .page2 .info_all .info_list:last-child {
    height: 10vh;
  }
  .swiper-wrapper .page2 .info_all .info_items {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .swiper-wrapper .page2 .info_all .info_title {
    width: 30vw;
    font-size: 4vw;
    line-height: 1.4;
  }
  .swiper-wrapper .page2 .info_all .info_text {
    font-size: 2.5vw;
  }
  .swiper-wrapper .page2 .info_all .info_text span {
    font-size: 3.5vw;
  }
  .swiper-wrapper .page2 .info_all #key li {
    font-size: 3vw;
  }
  .swiper-wrapper .page2 .info_all #color ul {
    font-size: 2.5vw;
  }
  .swiper-wrapper .page2 .info_all #color li {
    width: 15vw;
  }
  .swiper-wrapper .page2 .info_all #font {
    font-size: 3vw;
    width: 100%;
    text-align: center;
  }
  .swiper-wrapper .page3 .guide {
    width: 25vw;
    height: 12vh;
  }
  .swiper-wrapper .page3 .site_bg {
    height: 90vh;
  }
  .swiper-wrapper .page3 #s_all img {
    width: 85%;
    margin-top: 10vh;
  }
}