html,
body {
  position: relative;
  font-size: 1vw;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "NanumSquareRound";
  color: #51534f;
  overflow: hidden;
}
body a {
  text-decoration: none;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-slide {
  display: flex;
}

.swiper-wrapper .page1 {
  background: #e4e0d7;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.swiper-wrapper .page1 #left {
  width: 40%;
}
.swiper-wrapper .page1 #left #title {
  width: 100%;
}
.swiper-wrapper .page1 #left #title h1 {
  font-size: 2.5vw;
  font-weight: bold;
}
.swiper-wrapper .page1 #left #title h2 {
  display: inline-block;
  width: 100%;
  margin: 8% auto;
  text-align: center;
}
.swiper-wrapper .page1 #left #title h2 img {
  width: 50%;
}
.swiper-wrapper .page1 #left #site_btn {
  width: 100%;
  text-align: center;
  margin: 0% auto 4%;
}
.swiper-wrapper .page1 #left #site_btn a {
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  padding: 1% 5%;
  transition: all 0.4s;
  border-radius: 5px;
  background: #fff;
}
.swiper-wrapper .page1 #left #site_btn a:hover {
  background: #c7b18e;
  color: #fff;
}
.swiper-wrapper .page1 #left #work_info p {
  font-size: 1.2rem;
}
.swiper-wrapper .page1 #left #work_info span {
  font-weight: bold;
  margin-right: 1%;
}
.swiper-wrapper .page1 #right {
  width: 40%;
}
.swiper-wrapper .page1 #right #mac img {
  width: 100%;
}
.swiper-wrapper .page1 #right #mac .site {
  width: 59.55%;
  height: 57.29%;
  background: url("../images/works/decorare_full.png") no-repeat 0 top;
  background-size: 100% auto;
}
.swiper-wrapper .page2 .info_bg {
  width: 80%;
  background: #eeede8;
  margin: auto 0;
}
.swiper-wrapper .page2 .info_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 8rem;
}
.swiper-wrapper .page2 .info_title {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  width: 15vw;
}
.swiper-wrapper .page2 .info_text {
  font-size: 1.2em;
  width: 67%;
  line-height: 1.2;
}
.swiper-wrapper .page2 .info_text span {
  font-size: 1.5rem;
  font-weight: bold;
}
.swiper-wrapper .page2 #key {
  width: 50vw;
  height: 5vh;
}
.swiper-wrapper .page2 #key ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.swiper-wrapper .page2 #key li {
  border-radius: 50%;
  background: #d1b08d;
  font-size: 1.3rem;
  width: 13%;
  padding: 5% 0;
  color: #fff;
}
.swiper-wrapper .page2 #color {
  width: 50vw;
  height: 5vh;
}
.swiper-wrapper .page2 #color ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.swiper-wrapper .page2 #color li {
  margin: 0 5%;
  display: inline-block;
}
.swiper-wrapper .page2 #color li p {
  width: 120%;
  height: 5%;
  text-indent: -9999px;
  margin-bottom: 16%;
}
.swiper-wrapper .page2 #color li:nth-child(1) {
  margin-left: 3%;
}
.swiper-wrapper .page2 #color li:nth-child(1) p {
  background: #e4e0d7;
}
.swiper-wrapper .page2 #color li:nth-child(2) p {
  background: #c7b18e;
}
.swiper-wrapper .page2 #color li:nth-child(3) p {
  background: #dededd;
}
.swiper-wrapper .page2 #font {
  font-size: 1.5em;
}
.swiper-wrapper .page2 .g_right {
  width: 40%;
  height: 100%;
  background: #e4ddd5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.swiper-wrapper .page2 .guide {
  position: absolute;
  right: 0;
  bottom: 13%;
  font-weight: bold;
  width: 36%;
}
.swiper-wrapper .page2 .guide h3 {
  font-size: 1.8rem;
}
.swiper-wrapper .page2 .guide #line {
  width: 100%;
  height: 0.5rem;
  border-radius: 4px;
  background: #fff8f8;
  margin-top: 2%;
}
.swiper-wrapper .page2 .guide p {
  color: #8c8a8a;
  font-size: 1.2rem;
  margin: 3% 0;
}
.swiper-wrapper .page3 {
  justify-content: space-between;
}
.swiper-wrapper .page3 .site_bg {
  width: 70%;
  background: #e4e0d7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-wrapper .page3 .site_bg img {
  width: 80%;
}
.swiper-wrapper .page3 .info_case {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.swiper-wrapper .page3 .s_info {
  font-size: 1.5em;
  padding: 5% 10% 0 0;
  line-height: 1.2;
}
.swiper-wrapper .page3 .site {
  font-weight: bold;
  padding-bottom: 10%;
}
.swiper-wrapper .page3 .site h3 {
  font-size: 2rem;
}
.swiper-wrapper .page3 .site #line {
  width: 100%;
  height: 0.5rem;
  border-radius: 4px;
  background: #e4e0d7;
  margin-top: 2%;
}
.swiper-wrapper .page3 .site p {
  color: #8c8a8a;
  font-size: 1.2rem;
  margin: 3% 0;
}

.swiper-button-next::after {
  color: #dbc0ae;
}

.swiper-button-prev::after {
  color: #dbc0ae;
}